@model WhiteLagoon.Domain.Entities.Villa
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Villa</h2>
            </div>
        </div>

    </div>
    <div class="card-body border p-4 mb-5">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="p-3">
                <div asp-validation-summary=All class="text-danger"></div>
                <input hidden asp-for="Id" />
                <div class="form-floating py-1 col-12">
                    <input asp-for="@Model.Name" class="form-control border shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                    @* <span asp-validation-for="@Model.Name" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Description" class="form-control border shadow" />
                    <label asp-for="Description" class="ms-2"></label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Price" class="form-control border shadow" />
                    <label asp-for="Price" class="ms-2"></label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Sqft" class="form-control border shadow" />
                    <label asp-for="Sqft" class="ms-2"></label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Occupancy" class="form-control border shadow" />
                    <label asp-for="Occupancy" class="ms-2"></label>
                </div>
                <div class="row">
                    <input hidden asp-for="ImageUrl" class="form-control" />
                    <div class="form-floating py-1 col-6">
                        <input type="file" name="file" class="form-control border shadow" id="imgInp" />
                        
                        <label asp-for="ImageUrl" class="ms-2"></label>

                    </div>
                    <div class="form-floating py-1 px-1 col-6">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl) && !Model.ImageUrl.StartsWith("https"))
                        {
                            <img src="@Model.ImageUrl" class="img shadow border-0" alt="Villa image" id="villaimg" style="width:400px;height:267px" />
                        }
                        else
                        {
                            <img src="https://placehold.co/600x400" class="img shadow border-0" alt="Villa image" id="villaimg" style="width:400px;height:267px" />
                        }
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit"  class="btn btn-success w-100">
                            <i class="bi-check-circle"></i> Update
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="btn btn-secondary w-100" asp-controller="Villa" asp-action="Index">
                            <i class="bi bi-x-circle"></i> Cancel

                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    
    <script>
        //Preview & Update an image before it is uploaded
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#villaimg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    </script>
}
